/*No olvidar hacer responsive

https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design#:~:text=Small%20(smaller%20than%20640px),Large%20(1008px%20and%20larger)
hacer el grid para las tarjeta
preguntar como hacer que quede bien el tema de los proyectos siendo responsivo
Mirar before/after
*/

* {
  margin: 0;
  padding: 0;
 
  font-family: "Roboto";
}
h1 {
  /* H1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #514d67;
}
h2 {
  /* H2 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */

  color: #514d67;
}
h3 {
  /* H3 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  color: #514d67;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #514d67;
  background-color: #f2f4fc;
 
}
#nav-bar {
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: #f2f4fc;
}

.container-nav-bar {
  margin-left: 11.8%;
  margin-right: 11.8%;
  margin-top: 70px;

  width: 76%;
  height: 52px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  
}

.flex-item-nav-bar {
  /*nada*/
}
.img-circle-logo {
  height: 18.46px;
  width: 60.53px;
}
.div-nav-bar {
  width: 26.8%;
  top: 85px;

  height: 22px;
}
.nav-bar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  order: 1;
  flex-grow: 0;
}
.ul-nav-bar {
  display: inline;
  list-style-type: none;
}
.ul-nav-bar a {
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  font-family: "Roboto";
  font-style: normal;
}
.div-contact-us {
  width: 170px;
  height: 22px;
}
.div-contact-us a {
  font-size: 17px;
  line-height: 130%;
  font-family: "Roboto";
  font-style: bold;
  color: white;
  text-decoration: none;
  background-color: #072ac8;
  padding: 15px 36px 15px 36px;
}
#home {
  position: relative;
  top: 222px;
  left: 12%;

  width: 80%;
  height: 650px;
}
.container-home {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.home-text {
  height: 422px;
  top: 109px;
  width: 44%;
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  font-family: "Roboto";
  font-style: normal;
}
.div-home-links {
  margin-top: 36px;
}
.ul-home-links-list {
}
.ul-home-links {
  display: inline;
  list-style-type: none;
}
.ul-home-links-contact {
  display: inline;
  list-style-type: none;
  width: 170px;
  height: 22px;
}
.ul-home-links a {
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  font-family: "Roboto";
  font-style: normal;
  margin-left: 10px;
}

.ul-home-links-contact a {
  display: inline;
  list-style-type: none;
  font-size: 17px;
  line-height: 130%;
  font-family: "Roboto";
  font-style: bold;
  color: white;
  text-decoration: none;
  background-color: #072ac8;
  padding: 15px 36px 15px 36px;
}
.home-image {
  height: 422px;
  width: 56%;
  background-image: url("../images/hero-section/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.home-image div {
  background-color: transparent;
}
.img-card1 {
  
  background-color: transparent;
  
  grid-column: 1;
  grid-row: 1;
 
}
.img-card1 img{
    width: 90%;
    min-width: 120px;
    height: auto;
    display: block;
    background-color: transparent;
}
.img-card2 {
  
  background-color: transparent;
  min-width: 120px;
  grid-column: 2;
  grid-row: 2;
 
}
.img-card2 img{
    width: 90%;
    height: auto;
    display: block;
    background-color: transparent;
    
}
#partners {
  position: relative;
  top: 222px;
  left: 12%;
  right: 12%;
  width: 76%;
  height: 96px;
}
.partners-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.img-partner-logo {
  filter: grayscale(1);
}
#projects {
  position: relative;
  top: 300px;
  left: 12%;
  right: 12%;
  height: 561px;
  width: 76%;
}
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
}
.projects-card {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  
  justify-content: stretch;
}
.projects-card div{background-color: white;
}
.img-projects {
  width: 100%;
  height: auto;
  max-height: min(240px, 100%);
  display: block;
  background-color: white;
  aspect-ratio: 1.5/1;
}
.img-projects2 {
  height: min(240px, 100%);
  max-height: min(240px, 100%);
  display: block;
  background-color: white;
  aspect-ratio: 1.7/1;
}
.projects-text {
  background-color: white;
  padding: 5%;
  height:fit-content;
  min-height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}
.services-text {
  background-color: white;
  padding: 5%;
  
  min-height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}
.body-text {
  font-size: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292e47;
  background-color: white;
   word-break: break-all;
}
.regular-text {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  min-height: 53px;
  
}
.regular-text a, button {
 
height: 100%;
  color: #072ac8;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 0px;
}

#testimonials {
  position: relative;
  top: 350px;
  left: 4%;
  right: 4%;
  width: 91%;
  height: 622px;
  background-color: #292e47;
}
.wrapper-testimonials {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: url("../images/testimonial-section/orbit.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 207px);



}
.testimonial-one {
  grid-column: 1;
  grid-row: 1;
  background-color: transparent;
}
.testimonial-one img {
  width: 70%;
  
  height: auto;
  background-color: transparent;
  padding-left: 20%;
  padding-top: 20%;
}
.testimonial-two {
  grid-column: 5;
  grid-row: 1;
  background-color: transparent;
}
.testimonial-two img {
  width: 70%;
  height: auto;
  background-color: transparent;
  padding-left: 20%;
  padding-top: 20%;
}

.testimonial-three {
  grid-column: 1;
  grid-row: 3;
  background-color: transparent;
}
.testimonial-three img {
  width: 70%;
  height: auto;
  background-color: transparent;
  padding-left: 20%;
 
}
.testimonial-four {
  grid-column: 5;
  grid-row: 3;
  background-color: transparent;
}
.testimonial-four img {
  width: 70%;
  height: auto;
  background-color: transparent;
  padding-left: 20%;
 
}
.testimonial-profile {
  grid-column: 3;
  aspect-ratio: 1/1;
  grid-row: 3;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height:100%;
  margin:0;
}
.testimonial-profile-flex{
    width:100%;
    height:207px;
    background-color: transparent;
    padding-top:20%;
}
.testimonial-profile img{
    height: 40%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: transparent;
    border-radius: 50%;

    
}
.testimonial-profile-text{
    Line-height: 100%;
    text-Align: Left;
    color:#A2D6F9;
    background-color: transparent;
    text-decoration:none;
    
}
.testimonial-profile-text a{
    background-color: transparent;
    text-decoration:none;
    color:white;
    font-size:13px;
    text-Align: Left;
}
.testimonial-text {
  grid-column: 2/5;
  grid-row: 1/3;
  background-color: transparent;
  padding-top: 120px;
 
}
.testimonial-text h3{
    color:#F4F6FC;
    background-color: transparent;
    text-align: center;
}
.testimonial-yellow-text {
    text-align: center;
    color:#FFC600;
    margin: 15%;
    background-color: transparent;
}

#services{
    position: relative;
    top: 500px;
    left: 12%;
    right: 12%;
    height: 561px;
    width: 76%;
  }
  .services-card {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    justify-content: stretch;
  }
  .image-cropper{
   
    height: 50px;
    width: 50px;
    margin: 10% 0% 10% 10%; 
    padding: 5%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f2f4fc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #image-cropper img{
    display: inline;
    height: 100%;
    width: auto;
        
  }
  #newsletter{
    position: relative;
    top: 500px;
    left: 4%;
    right: 4%;
    height: 500px;
    width: 92%;
  }
  #newsletter form{
    height: 100%;
    width: 100%;
  }
  .newsletter-container{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC600    ;
  }
  .newsletter-text{
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
    Line-height: 30px

  }
  .newsletter-text h3{
    color:#292E47;
    font-size: bold;
    line-height: 47px;
  }
  .newsletter-mail-container{
    
    margin-top: 40px;
    height: 80px;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
   
  }
.mail-element{
   
    height: 60px;
    
    width:100%;
    margin:20px;
    min-width: 300px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    
}
.mail-element form{
    display: inline-block;
}
.mail-element input{
    color:#292E47;
    font-size: 17px;
    line-height: 26.5px;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    background-color: white;
    background-image:url('../Images/newsletter/icon/mail.svg')  ;
    background-repeat: no-repeat;
    background-position-y: center;
 
}
.mail-element input::placeholder{
    color:#292E47;
    font-size: 17px;
    line-height: 26.5px;
    border: none;
    padding-left: 40px;
    
      
  }
  .mail-element input::after{
    content: "hola";
    font-size: 17px;
    line-height: 26.5px;
    width: 100px;
    height: 100px;
    color: black;
  }
  .div-subscribe {
    flex: 0 0 auto;
    width: 170px;
    height: 22px;
    margin-top: 20px;
  }
  .mail-element  button {
  
    font-size: 17px;
    line-height: 130%;
    font-family: "Roboto";
    font-style: bold;
    color: white;
    text-decoration: none;
    background-color: #072ac8;
    padding: 18px 40px 18px 40px;
    border: none;
  }

  #contact-details{
    position: relative;
    top: 700px;
    height: 212px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
   
  }
  .contact-details-container{
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .contact-details-address{
    display: flex;
    flex: 1.5 0 0;
    align-items: left;
    
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-details-address div{
    font-size: 17px;
    color: #6B708D
  }
  .contact-details-info{
    display: flex;
    flex: 1 0 0;
    align-items: left;
  
     height: 100%;
  }
  .contact-details-info-wrapper{
    height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }
  .contact-details-info-one{
    grid-column: 1;
    grid-row: 1;
   
  }

  
  .contact-details-info-one a{
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
}
.contact-details-info-two{
    grid-column: 2;
    grid-row: 1;
   
  }
  .contact-details-info-two a{
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
}
.contact-details-info-three{
    grid-column: 3;
    grid-row: 1;
   
  }
  .contact-details-info-three a{
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
}
.contact-details-info-four{
    grid-column: 1;
    grid-row: 2;
   
  }
  .contact-details-info-four a{
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
}
.contact-details-info-five{
    grid-column: 2;
    grid-row: 2;
   
  }
  .contact-details-info-five a{
  text-decoration: none;
  font-weight: normal;
  color: #6b708d;
  font-weight: 500;
  font-size: 17px;
}
.contact-details-info-six{
    grid-column: 3;
    grid-row: 2;
   
  }
.contact-details-info-six a{
    text-decoration: none;
    font-weight: normal;
    color: #6b708d;
    font-weight: 500;
    font-size: 17px;
  }
  


  .img-circle-logo-contact{
    Width: 98.38px;
    Height: 30px;
    aspect-ratio: 1/1;
  }
  /*a partir de aqui es projects.html*/

  #project-detail{
    position: relative;
    top: 200px;
    height: fit-content;
    min-height: 1181px;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap:70px;
    
    
  }
  .title-container{
    
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  .title-text{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
  }
  .title-text h1{
    color:#292E47
  }
  .completed-text{
    text-align: end;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: end;
    color:#6B708D;
  }
  .img-simplify{
    height: 422px;
    
    background-image: url("../images/projects-section/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:#6B708D;

   
  }
  .simplify-text{
    height: fit-content;
    min-height: 420px;
    color: #6B708D;
    font-size: 20px;
    line-height: 30px;
    
  }
   /*a partir de aqui es contact.html*/
  #contact-us{
    position: relative;
    top: 200px;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    height: 830px;
    
  }
  #contact-us h1{
  color:#292E47
}
#contact-us form{
    margin-top: 80px;
    height: 660px;
    width: 100%;
  
    margin-bottom:14px;
}
.contact-us-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 660px;
    font-size: 20px;
    color: #6B708D

   
}
.contact-us-line1{
    width: 100%;
    height:110px;
 
}
.contact-us-line2{
    width: 100%;
    height:110px;
    justify-content: stretch;
    gap: 4%;
    align-items: left;
 
    display: flex;
    flex-direction: row;

}
.contact-us-textarea{
    width: 100%;
    height:240px;
    
}
.contact-us-button {
    
    height:80px;
    background-color: #072ac8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us-button button{
    text-align: center;
    color: white;
    background-color: #072ac8;
    border: none;

}
.contact-us-mail{
    display: flex;
    flex: 1 0 0;
    align-items: left;
   
        
}
.contact-us-mail div{
height: 100%;
width: 100%;
}
.contact-us-mail div input , .contact-us-line input{
    background-color: #6B708D1A;
    opacity: 0.9;
    height: 70px;
    width: 100%;
    border: none;
    font-size:17px;
    padding-left: 10px;
}
.contact-us-textarea input{
    background-color: #6B708D1A;
    opacity: 0.9;
    height: 200px;
    width: 100%;
    border: none;
    vertical-align: top;
    font-size:17px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}

.contact-us-textarea input::placeholder {
    line-height: 30px;
    vertical-align: top;

    padding-bottom: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
}
   /*media queries*/
@media (max-width:840px){


  .container-nav-bar {
    height: 80px;
  }
  .nav-bar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    order: 1;
    flex-grow: 0;
    text-align: center;
  }
  .partners-container{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
  }
  .contact-details-info-wrapper{
  height: 100%;
  width: 100%;
  display: grid;
 
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-auto-rows: 1fr;
  
}
.contact-details-info-one{
  grid-column: 1;
  grid-row: 1;
  
 
}
.contact-details-info-two{
  grid-column: 2;
  grid-row: 1;
 
}
.contact-details-info-three{
  grid-column: 1;
  grid-row: 2;
 
}

.contact-details-info-four{
  grid-column: 2;
  grid-row: 2;
 
}

.contact-details-info-five{
  grid-column: 1;
  grid-row: 3;
 
}
.contact-details-info-six{
  grid-column: 2;
  grid-row: 3;
 
}
.contact-details-address{
  display: flex;
  flex: 1 0 0;
  align-items: left;
  
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter-mail-container{
    
  height: 160px;
  min-width: 100 px;
}
.mail-element{
   
  height: 120px;
  
  width:100%;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  
}
.mail-element input{
  margin-left: 0px;
}
.contact-details-container{
  height: 150px;
}
#home {
  position: relative;
  top: 222px;
  left: 12%;

  width: 80%;
  height: 900px;
}
.container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
 
  width: 100%;
}
.home-image {
  height: 422px;
  width: 100%;
}
#services {
  
  height: 650px;
  
}



.services-text {

  height:350px;
}
}
@media (max-width:600px){
  
  #services {
  
    height: 750px;
  
  }
  
  
  .services-text {
  
    height:450px;
  }
}